@charset "utf-8";



body {
	margin:0;
	padding:0;
	width:100%;
	background:url(images/main_bg.gif);
}
html {
	padding:0;
	margin:0;
}
li.bg, .bg {
	clear:both;
	border-bottom:1px solid #a6a6a6;
	padding:0;
	margin:10px 0;
	background:none;
	list-style:none;
}
p.clr, .clr {
	clear:both;
	padding:0;
	margin:0;
}

.main {
	margin:0 auto;
	padding:0;
}
.header_resize {
	margin:0 auto;
	padding:0;
	width:930px;
}
.header {
	margin:0;
	padding:0;
}
.logo {
	width:450px;
	margin:0 auto;
	padding:0;
	float:left;
	background:url(images/logo.gif) no-repeat left 12px;
}
h1 {
	margin:0;
	padding:24px 0 24px 100px;
	color:#5a5a5a;
	font:bold 40px/1.2em Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	letter-spacing:-2px;
}
h1 a, h1 a:hover {
	color:#5a5a5a;
	text-decoration:none;
}
h1 span {
	color:#ffa800;
}
h1 small {
	display:block;
	font:normal 14px/1.2em Arial, Helvetica, sans-serif;
	letter-spacing:normal;
}
.menu {
	padding:55px 0 0 0;
	margin:0;
	width:410px;
	float:right;
}
.menu ul {
	padding:0;
	margin:0;
	list-style:none;
	border:0;
	float:right;
}
.menu ul li {
	float:left;
	margin:0;
	padding:0 5px;
	border:0;
}
.menu ul li a {
	float:left;
	margin:0;
	padding:20px 0;
	color:#5f5f5f;
	font:bold 13px Tahoma, Geneva, sans-serif;
	text-decoration:none;
}
.menu ul li a span {
	padding:20px 10px;
	background:none;
}
.menu ul li a:hover {
	color:#fff;
	background:url(images/r_menu.gif) no-repeat right;
}
.menu ul li a:hover span {
	color:#fff;
	background:url(images/l_menu.gif) no-repeat left;
}
.menu ul li a.active {
	color:#fff;
	background:url(images/r_menu.gif) no-repeat right;
}
.menu ul li a.active span {
	color:#fff;
	background:url(images/l_menu.gif) no-repeat left;
}
.headert_text_resize {
	width:1069px;
	padding:0;
	margin:0 auto;
}
.headert_text_resize img {
	float:right;
	margin:0;
	padding:0;
}
.headert_text_resize .textarea {
	height:249px;
	width:318px;
	margin:0;
	padding:30px 40px 0 80px;
	float:left;
	background:url(images/header_block_bg.gif) top no-repeat;
}
.headert_text_resize .textarea h2 {
	font:normal 28px Arial, Helvetica, sans-serif;
	color:#464646;
	padding:10px 0;
	margin:0;
	border-bottom:1px dashed #8e8e8e;
}
.headert_text_resize .textarea p {
	font:normal 11px Arial, Helvetica, sans-serif;
	color:#464646;
	padding:10px 0;
	margin:0;
	line-height:1.6em;
}
.headert_text_resize .textarea p a {
	font:normal 11px Arial, Helvetica, sans-serif;
	color:#464646;
	padding:10px 0;
	margin:0;
	line-height:1.6em;
}
.headert_text_resize .textarea img {
	float:left;
	margin:10px 0;
	padding:0;
}
.body_resize {
	margin:0 auto;
	padding:20px 0 0 0;
	width:930px;
}
.body {
	margin:0;
	padding:10px 25px 40px 25px;
}
.body h2 {
	font:normal 30px Arial, Helvetica, sans-serif;
	color:#464646;
	padding:3px 0 3px 5px;
	margin:5px 0 10px 0;
}
.body h3 {
	font:normal 30px Arial, Helvetica, sans-serif;
	color:#464646;
	padding:3px 0 3px 35px;
	margin:5px 0 10px 0;
	background:url(images/h2_bg.gif) left no-repeat;
}
.body h2 span, .body h3 span {
	color:#ffa800;
}
.body p {
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#464646;
	padding:5px;
	margin:0;
	line-height:1.8em;
}
.body p span {
	font:bold 14px Arial, Helvetica, sans-serif;
	color:#4b4b4b;
	padding:0;
	margin:0;
}
.body img {
	float:left;
	margin:5px;
	padding:0;
}
.body img.floated {
	float:right;
	margin:5px 10px 5px 0;
	padding:0;
}
.body a {
	color:#d88e00;
	text-decoration:underline;
}
.left {
	float:right;
	width:640px;
	margin:0;
	padding:0;
}
.right {
	float:left;
	width:245px;
	margin:0;
	padding:0;
}
.right .blog {
	border:1px solid #dedede;
	margin:10px 0;
	padding:10px;
	background:#fff;
}
.right ul {
	list-style:none;
	margin:5px 10px;
	padding:0;
}
.right li {
	font:normal 14px Arial, Helvetica, sans-serif;
	color:#464646;
	border-bottom:1px dashed #818181;
	padding:5px 0;
}
.right li a {
	background:url(images/ul_li.gif) left no-repeat;
	padding:0 0 0 15px;
	margin:0;
	font:normal 14px Arial, Helvetica, sans-serif;
	color:#464646;
	text-decoration:none;
}
.right li a:hover {
	color:#ea7d1b;
	text-decoration:none;
}
.right ul.category {
	list-style:none;
	margin:5px 10px;
	padding:0;
}
.right li.category {
	font:normal 11px Arial, Helvetica, sans-serif;
	color:#464646;
	border-bottom:1px dashed #818181;
	padding:5px 0;
}
.right li.category a {
	background:url(images/ul_li.gif) left no-repeat;
	padding:0 0 0 15px;
	margin:0;
	font:normal 14px Arial, Helvetica, sans-serif;
	color:#464646;
	text-decoration:none;
}
.right li.category span {
	color:#ea7d1b;
}
.search {
	padding:13px 0 0 0;
	margin:0 auto;
}
.search form {
	float:right;
	padding:0;
	margin:0;
}
.search span {
	display:block;
	float:left;
	background:#fff;
	border:1px solid #d1d2d1;
	width:170px;
	padding:2px 5px;
	height:31px;
}
.search form .keywords {
	line-height:14px;
	height:14px;
	float:left;
	background:none;
	border:0;
	padding:6px 2px;
	margin:0;
	font:bold 12px Arial, Helvetica, sans-serif;
	color:#ea7d1b;
}
.search form .button {
	float:left;
	margin:0;
	padding:0;
}
.FBG_resize {
	margin:0 auto;
	padding:0;
	width:930px;
}
.FBG {
	background: url(images/fbg_bg.gif);
	margin:0;
	padding:0;
	border-top:1px solid #d5d5d5;
	border-bottom:1px solid #d5d5d5;
}
.FBG img {
	float:left;
	margin:5px 10px 5px 0;
	padding:0;
}
.FBG h2 {
	color:#464646;
	font:normal 30px Arial, Helvetica, sans-serif;
	padding:3px 0;
	margin:5px 0 15px 0;
}
.FBG h2 span {
	color:#ea7d1b;
}
.FBG p {
	color:#464646;
	font:normal 12px Arial, Helvetica, sans-serif;
	padding:5px 0;
	margin:0;
	line-height:1.8em;
}
.FBG a {
	color:#ea7d1b;
	text-decoration:none;
	font:bold 12px Arial, Helvetica, sans-serif;
}
.FBG ul {
	list-style:none;
	width:130px;
	float:left;
	padding:0;
	margin:10px 5px;
}
.FBG li {
	padding:2px 1px;
	margin:0;
}
.FBG li a {
	color:#ea7d1b;
	font:normal 12px Arial, Helvetica, sans-serif;
	text-decoration:underline;
}
.FBG li a:hover {
	color:#464646;
	text-decoration:none;
}
.FBG .blok {
	width:290px;
	float:left;
	padding:5px 10px;
	margin:0;
}
.footer_resize {
	margin:0 auto;
	padding:25px 0;
	width:930px;
	color:#505050;
	font:normal 12px Arial, Helvetica, sans-serif;
}
.footer {
	padding:0;
	margin:0 auto;
	background:url(images/footer_bg.gif) top repeat-x;
}
.footer p {
	margin:0;
	padding:4px 0;
	line-height:normal;
	color:#505050;
}
.footer a {
	color:#505050;
	padding:inherit;
	text-decoration:underline;
}
.footer a:hover {
	text-decoration:none;
}
.footer .lf {
	float:left;
}
.footer .rf {
	float:right;
}
#contactform {
	margin:0;
	padding:5px 10px;
}
#contactform * {
	color:#F00;
}
#contactform ol {
	margin:0;
	padding:0;
	list-style:none;
}
#contactform li {
	margin:0;
	padding:0;
	background:none;
	border:none;
	display:block;
	clear:both;
}
#contactform li.buttons {
	margin:5px 0 5px 0;
}
#contactform label {
	margin:0;
	width:110px;
	display:block;
	padding:10px 0;
	color:#666;
	font:normal 12px Arial, Helvetica, sans-serif;
	text-transform:capitalize;
	float:left;
}
#contactform label span {
	color:#F00;
}
#contactform input.text {
	width:480px;
	border:1px solid #c0c0c0;
	margin:2px 0;
	padding:5px 2px;
	height:16px;
	background:#fff;
	float:left;
}
#contactform textarea {
	width:480px;
	border:1px solid #c0c0c0;
	margin:2px 0;
	padding:2px;
	background:#fff;
	float:left;
}
#contactform li.buttons input {
	border:1px solid #000;
	background:#ea7d1b;
	padding:10px;
	margin:10px 0 0 110px;
	color:#fff;
	float:left;
	font:normal 12px Arial, Helvetica, sans-serif;
}
p.response {
	text-align:center;
	color:#F00;
	font:normal 11px Georgia, "Times New Roman", Times, serif;
	line-height:1.8em;
	width:auto;
}
